img{
    width: 20%;
    length: 20%
    
}
header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    
    
    
}
header{
    background: white;
    
}
a{
    color: #777777;
    text-decoration: none;
}
a:hover{
    color: #4aaaa5;
}


#Name{
    background: #4aaaa5;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    margin: auto;
    text-align: left;
    border: 2px solid #cccccc;
    width: 400px;
    height: 70px;
    float: left;
    text-align: center;  
}

img{
    float:left;
    padding: 10px;
}


h2{
    color: #4aaaa5;
    border-bottom: solid 2px #cccccc;
    padding: 10px;

}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}
h1{
    color: white;
    margin-bottom: 5px;
   
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
   color: gray;
   height:40px;
   
}
body{
    background-image: url("../images/paper.png");
    padding: 10px;
    line-height: 1.5em;
    overflow: auto;
}
#showcase{
    background-color: #ffffff;
    float: left;    
    width: 960px;
    border: 1px solid #cccccc;
    padding: 1px;
    margin-top: 30px;
    overflow: auto;  
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px;
    padding: 2px;
    border: 1px solid #ccc;
    float: left;
    overflow: scroll;
  }

.footer{
    clear: both;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    height: 50px;
    margin-top: -50px;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   font-size: 70%;
}
footer{
    width: auto;
}
form{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;   
}
/* image gallery */
.gallery{
    display: flex;
    grid-gap: 1em;
    justify-content: center;

}
.gallery>figure{
    margin: 0;
    
}
.gallery img{
    width: 90%;
    object-fit: fill;
    
}
.gallery figcaption{
    padding: .3em;
    color: black;
    background-color: #4aaaa5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


