img{
    width: 20%;
    length: 20%
    
}
header{
    margin: auto;   
    size: 960px;

}


header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
  
}
a{
    color: #777777;
    text-decoration: none;
}


#Name{
    background: #4aaaa5;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
    margin: auto;
    text-align: left;
    border-color: #cccccc;
    width: 400px;
    height: 70px;
    float: left;
    text-align: center;

    
}

img{
    float:left;
    padding: 10px;
}
.wrapper{
    width: 960px;
    margin: auto;
    padding: 1px;
}

h2{
    color: #4aaaa5;

}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
   color: gray;
   height:40px;
   
}
body{
    background-image: url("../images/paper.png");
    border-color: #dddddd;
    float: left;
    width: 960px;
    line-height: 32px;
   


}
#showcase{
    background-color: #ffffff;
    width: 960px;
    margin: auto;
    float: left;    
}
.footer{
    clear: both;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    height: 50px;
    margin-top: -50px;
}

.container{
    margin-left: auto;
    margin-right: auto;
   
}
form{
    font-family: Arial, Helvetica, sans-serif;
}